<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>HTML Archive — Home</title>
</head>
<body>
  <h1 class="site-header">CALCULADORA<br>INGRESE LOS VALORES</br></body></h1>
  <input type="number" value="{result}" placeholder="introduce los números aqui">
  <div class="calculator"></div>
  <button id="sum"></button>
  <button id="rest"></button>
  <button id="multi"></button>
  <button id="div"></button>
    </form>
      </br>
  </main>
  <footer class="site-footer">
    <div class="container"></div>
  </footer>
</body>
</html>